<h1 class="page-header">List of Users</h1>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#freelancers">Freelancers</a></li>
    <li><a data-toggle="tab" href="#companies">Companies</a></li>
</ul>


<div class="tab-content">
    <div id="freelancers" class="tab-pane fade in active">
        <h3>Freelancers</h3>
				<div class="table-responsive">
			<table class="table table-hover table-striped">
				<tr>
					<th>Action</th>
					<th>Date</th>
				</tr>
				<tr *ngFor="let item of logdata" class="active">
					<td>{{ item.type }}</td>
					<td>{{ item.date }}</td>
				</tr>
			</table>
		</div>
		</div>


    
    <div id="companies" class="tab-pane fade">
        <h3>Companies</h3>
        
			<table class="table table-hover table-striped">
				<tr>
					<th>Action</th>
					<th>Date</th>
				</tr>
				<tr *ngFor="let item of logdata" class="active">
					<td>{{ item.type }}</td>
					<td>{{ item.date }}</td>
				</tr>
			</table>
		</div>

    </div>
