<div *ngIf="errorMessage!=null" class="alert alert-danger">
        {{ errorMessage }}
</div>
 <form [formGroup]="registrationForm" class="form-signin" (ngSubmit)="onSubmit()">
      
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="fullname">Full Name</label>
            <input
              type="text"
              id="fullname"
              formControlName="fullname"
              class="form-control">
			  </div>
          </div>
        </div>
		
		<div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="emailaddress">Email Address</label>
            <input
              type="text"
              id="emailaddress"
              formControlName="emailaddress"
              class="form-control">
			  </div>
          </div>
        </div>
	  
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="text"
              id="password"
              formControlName="password"
              class="form-control"
              #password>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button (click)="onSubmit()" id="signupSubmit" type="submit" class="btn btn-info btn-block">
            Create your account
        </button>
    </div>
    <hr>
    <p>Already have an account? <a [routerLink]="['/home/login']"> <i class="fa fa-fw fa-lock"></i>Login</a></p>

	
	<div class="form-signin">
	
	 <div class="row">
        <div class="col-xs-12">
		<img ng-src="https://s3.ap-south-1.amazonaws.com/flexiple/images/logo/logo.png" class="navbar-logo-image" src="https://s3.ap-south-1.amazonaws.com/flexiple/images/logo/logo.png">
            <span class="tk-museo heavy navbar-logo-text"> Flexiple</span>
		</div>
		</div>
	
	</div>
