<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
			
			<img ng-src="https://s3.ap-south-1.amazonaws.com/flexiple/images/logo/logo.png" class="navbar-logo-image" src="https://s3.ap-south-1.amazonaws.com/flexiple/images/logo/logo.png">
            <span class="tk-museo heavy navbar-logo-text"> Flexiple</span>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class=" nav navbar-nav navbar-right">
                <li>
                    <a [routerLink]="['/home']">ABOUT</a>
                </li>
                <li>
                    <a [routerLink]="['/home']">HOW IT WORKS</a>
                </li>
				<li>
                    <a [routerLink]="['/home']">FAQ</a>
                </li>
                <li>
                    <a [routerLink]="['/home']">BLOG</a>
                </li>
				<li>
                    <a [routerLink]="['/home/login']">SIGN IN</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="intro-header">
    <router-outlet></router-outlet>
</div>

