<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>The best talent for your work. Guaranteed.</h1>
                    <h3>Flexiple is a premier curated family of creative designers, problem-solving developers and expressive content writers.
                    </h3>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->
